.idea

Micronet 800.md
WikipediaEntry.wiki
/telstar-client/fyne-cross/

/telstar-emf/bin/
/telstar-emf/temp/

/telstar-ftse/bin/
/telstar-ftse/temp/

/telstar-MacViewdata/bin/
/telstar-MacViewdata/temp/

/telstar-openweather/bin/
/telstar-openweather/temp/

/telstar-rss/bin/
/telstar-rss/temp/

/telstar-server/bin/
/telstar-server/temp/

/telstar-telesoftware/bin/
/telstar-telesoftware/temp/

/telstar-upload/bin/
/telstar-upload/temp/

/telstar-util/bin/
/telstar-util/temp/
/telstar-util/telstar-util.tok

/telstar-emf-deprecated/
documents/Telstar User Guide
mongo

/telstar-rss/data/frames/
/documents/Grandstream-HT802/
